* {
	outline: 1px solid red;
}

body {
	background-color: darkgreen;
}

#title {
	padding-top: 0;
	font-family: 'Indie Flower', sans-serif;
    font-size: 5em;
    position: relative;
    margin: 0;
    top: 0.85em;
    padding-left: 3em;
}

.addItem {	
	width: 10em;
    height: 10em;
    position: relative;
    background-color: black;
    float: right;
    right: 5em;
    top: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.list {
	width: 97.5%;
    position: relative;
    top: 10em;
    padding: 1em;
    font-family: 'Indie Flower', sans-serif;
}

.item-box {
	padding: 1em;
}

.item {
	padding-left: 1em;
	margin: 0;
}