/* * {
	outline: 1px solid red;
} */

body {
	background-color: mediumslateblue;
}

#title {
	padding-top: 0;
	font-family: 'Indie Flower', sans-serif;
    font-size: 5em;
    position: relative;
    margin: 0;
    top: 0.15em;
    left: 18%;
}

.addItem {	
	width: 10em;
    height: 10em;
    position: relative;
    background-color: black;
    float: right;
    right: 5em;
    top: 1.8em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

#inputItem {
	overflow: visible;
    position: relative;
    top: 0.7em;
    left: 5.6em;
    font-weight: bold;
    font-size: 1.5em;
    width: 50%;
    height: 2em;
    border-radius: 13px;
    font-family: 'Indie Flower', sans-serif;
}

.list {
	width: 97.5%;
    position: relative;
    top: 1.6em;
    padding: 1em;
    font-family: 'Indie Flower', sans-serif;


}

.item-box {
	padding: 1em;
	background-color: black;
	border-radius: 5px;
	min-height: 3em;
}

.item {
	padding-left: 1em;
	margin: 0;
	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 2em;
}
.remove {
	
	z-index: 100;
	float: right;
	clear: right;
	font-weight: bold;
	border-radius: 5px;
	background-color: white;
	font-size: 0.9em;
}