* {
	outline: 1px solid red;
}

body {
	background-color: darkgreen;
}

#title {
	
}

.addItem {	
	width: 10em;
    height: 10em;
    background-color: black;
    float: right;
    margin-right: 10em;
    border-radius: 50%;
    cursor: pointer;
}

.list {
	width: 97.5%;
    position: relative;
    top: 10em;
    padding-right: 8em;
    padding: 1em;
}

.item {
	padding: 1em;
}